*.nix
.ignore
.devenv/
devenv.*
.android/
.dart_tool/
android/
ios/
macos/
windows/
linux/
web/
build/

__pycache__

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
